	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-alien:before { content: "\f100"; }
.flaticon-arrow:before { content: "\f101"; }
.flaticon-axe:before { content: "\f102"; }
.flaticon-bishop:before { content: "\f103"; }
.flaticon-bone:before { content: "\f104"; }
.flaticon-bow:before { content: "\f105"; }
.flaticon-brick:before { content: "\f106"; }
.flaticon-bricks:before { content: "\f107"; }
.flaticon-castle:before { content: "\f108"; }
.flaticon-checkmate:before { content: "\f109"; }
.flaticon-chess-board:before { content: "\f10a"; }
.flaticon-clock:before { content: "\f10b"; }
.flaticon-clubs:before { content: "\f10c"; }
.flaticon-coin:before { content: "\f10d"; }
.flaticon-diamond:before { content: "\f10e"; }
.flaticon-dices:before { content: "\f10f"; }
.flaticon-dominoes:before { content: "\f110"; }
.flaticon-donkey:before { content: "\f111"; }
.flaticon-flower:before { content: "\f112"; }
.flaticon-ghost:before { content: "\f113"; }
.flaticon-hearts:before { content: "\f114"; }
.flaticon-helmet:before { content: "\f115"; }
.flaticon-ingot:before { content: "\f116"; }
.flaticon-king:before { content: "\f117"; }
.flaticon-knight:before { content: "\f118"; }
.flaticon-metroid:before { content: "\f119"; }
.flaticon-mushroom:before { content: "\f11a"; }
.flaticon-mushroom-1:before { content: "\f11b"; }
.flaticon-mushroom-2:before { content: "\f11c"; }
.flaticon-pacman:before { content: "\f11d"; }
.flaticon-pacman-1:before { content: "\f11e"; }
.flaticon-pawn:before { content: "\f11f"; }
.flaticon-pick:before { content: "\f120"; }
.flaticon-pinball:before { content: "\f121"; }
.flaticon-ping-pong:before { content: "\f122"; }
.flaticon-pipe:before { content: "\f123"; }
.flaticon-poker:before { content: "\f124"; }
.flaticon-poker-chip:before { content: "\f125"; }
.flaticon-puzzle:before { content: "\f126"; }
.flaticon-queen:before { content: "\f127"; }
.flaticon-rook:before { content: "\f128"; }
.flaticon-shovel:before { content: "\f129"; }
.flaticon-spades:before { content: "\f12a"; }
.flaticon-sword:before { content: "\f12b"; }
.flaticon-symbol:before { content: "\f12c"; }
.flaticon-symbols:before { content: "\f12d"; }
.flaticon-zombie:before { content: "\f12e"; }